.content {
    position: fixed;
    top: 70px;
    left: 40%;
    width: 60%;
    height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}