.sidebar {
    background-color: #f0f0f0;
    width: 40%;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-main,
.sidebar-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.sidebar-footer-user,
.sidebar-footer-app {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}