header {
    background-color: #61a0a8;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    height: 70px;
}

.header-title {
    display: flex;
    align-items: center;
}

#header-logo {
    width: 50px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}