.form-input-container {
    position: relative;
    margin-bottom: 1rem;
}

.form-input-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: gray;
    background-color: white;
    padding: 0 0.5rem;
    transition: all 0.15s ease;
    pointer-events: none;
}

.form-input {
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-input:focus {
    border-color: #009688;
    outline: none;
}

.form-input:not(:placeholder-shown) + .form-input-label,
.form-input:focus + .form-input-label {
    transform: translateY(-130%) scale(0.8) translateX(-20%);
    color: #009688;
}